langchain
langchain_community
langchain-core
langchain-agent
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain-google-vertexai
langchain_tavily
langchain-mcp-adapters
langchain-text-splitters

deepagents 
tavily-python


sentence-transformers
faiss-cpu
chromadb
pageindex

mcp
pypdf
pymupdf

langgraph
langsmith

IPython