langchain
langchain_community
langchain-agent
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain-google-vertexai
langchain_tavily
langchain-mcp-adapters
mcp

langgraph
langsmith

IPython